$appbkg: lightgrey;
$border: #7e7171;
$baseDark: rgb(27, 66, 27);
$header: rgb(157, 185, 157);
$baseLight: rgb(241, 237, 237);
$empty: darkred;
$button: linear-gradient(#f2f2f2, #cfcfcf);
$buttonHover: linear-gradient(#fff, #e4e4e4);